.logo{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.logo2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.topbar{
  left:470px;
}
*{
  font-family: 'Open Sans', sans-serif;
}
.solidb {
  border-top: 3px solid #bbb;
}